.mainContainer {
  width: auto;
  position: relative;
}

img.heroimg {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.heroContentWrapper {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  background-color: rgba(50, 9, 195, 0.4);
  padding: 65px 10px;
  padding-left: 50px;
}

h1 {
  margin-bottom: 25px;
  font-size: 36px;
}

p {
  font-size: 14px;
  margin-bottom: 35px;
  letter-spacing: 1.6px;
  object-fit: scale-down;
}

button {
  border: none;
  padding: 15px;
  margin-top: 10px;
  background-color: blue;
  color: #fff;
  font-size: small;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  color: black;
}

@media screen and (max-width: 600px) {
  .mainContainer img {
    width: 100%;
    object-fit: cover;
  }

  .heroContentWrapper {
    position: static;
    background-color: #fff;
    color: black;
    padding-top: 5px;
    padding-left: 15px;
    width: 100%;
  }

  .heroContentWrapper h1 {
    margin-bottom: 15px;
  }

  .heroContentWrapper p {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }

  .heroContentWrapper button {
    margin-top: 5px;
  }
  h6 {
    margin-right: 0px;
  }
  .leftContainer .text {
    margin-right: 0px;
  }
}
